# Jar
*.jar

# Paper files
cache/
libraries/
logs/
versions/
world/
world_nether/
world_the_end/
eula.txt
version_history.json
usercache.json
.console_history

# Paper Plugins
lab/plugins/bStats/config.yml

hub/plugins/bStats/config.yml

survival/plugins/bStats/config.yml
survival/plugins/CoreProtect/.license
survival/plugins/LockettePro/lang_de.yml
survival/plugins/LockettePro/lang_es.yml
survival/plugins/LockettePro/lang_fr.yml
survival/plugins/LockettePro/lang_hu.yml
survival/plugins/LockettePro/lang_it.yml
survival/plugins/LockettePro/lang_pl.yml
survival/plugins/LockettePro/lang.yml
survival/plugins/LockettePro/lang_zh-cn.yml

### WorldEdit
*/plugins/WorldEdit/.archive-unpack
*/plugins/WorldEdit/assets
*/plugins/WorldEdit/schematics
*/plugins/WorldEdit/sessions

### WorldGuard
*/plugins/WorldGuard/cache
*/plugins/WorldGuard/worlds

# Waterfall Files
waterfall/modules
waterfall/logs
waterfall/locations.yml
## bStats
waterfall/plugins/bStats/temp.txt

# Web
web/dist/
web/node_modules/
web/yarn.error

# MySQL
mysql/data/
mysql/.env
survival/plugins/ProtocolLib/lastupdate
survival/plugins/DiscordSRV/English.alerts.yml
survival/plugins/DiscordSRV/English.config.yml
survival/plugins/DiscordSRV/English.linking.yml
survival/plugins/DiscordSRV/English.messages.yml
survival/plugins/DiscordSRV/English.synchronization.yml
survival/plugins/DiscordSRV/English.voice.yml
survival/plugins/DiscordSRV/Japanese.alerts.yml
survival/plugins/DiscordSRV/Japanese.config.yml
survival/plugins/DiscordSRV/Japanese.linking.yml
survival/plugins/DiscordSRV/Japanese.messages.yml
survival/plugins/DiscordSRV/Japanese.synchronization.yml
survival/plugins/DiscordSRV/Japanese.voice.yml
survival/plugins/DiscordSRV/config.yml
