# Jar
*.jar

# Paper files
cache/
libraries/
logs/
versions/
world/
world_nether/
world_the_end/
eula.txt
version_history.json
usercache.json
.console_history

# Paper Plugins
lab/plugins/bStats/config.yml

hub/plugins/bStats/config.yml

survival/plugins/bStats/config.yml
survival/plugins/CoreProtect/.license
survival/plugins/LockettePro/lang_de.yml
survival/plugins/LockettePro/lang_es.yml
survival/plugins/LockettePro/lang_fr.yml
survival/plugins/LockettePro/lang_hu.yml
survival/plugins/LockettePro/lang_it.yml
survival/plugins/LockettePro/lang_pl.yml
survival/plugins/LockettePro/lang.yml
survival/plugins/LockettePro/lang_zh-cn.yml
# Waterfall Files
waterfall/modules
waterfall/logs
waterfall/locations.yml
## bStats
waterfall/plugins/bStats/temp.txt

# Web
web/dist/
web/node_modules/
web/yarn.error

# MySQL
mysql/data/
mysql/.env
survival/plugins/ProtocolLib/lastupdate
